* {background-color: hotpink;
  font-family: garamond;
}


/* Fuck around with this after completing requirements.
body {
  margin-left: 50%;
  margin-right: -50%;
  max-width: 600px;
}
*/

h2 {
  border: black 1px;
  background: url(honeycomb.jpg);
  padding: 1em;
  border-radius: 25px;
  margin-right: 25%;
  font-family: helvetica;
}


/* Padding and border added to at least one element
Margin added to at least one element
At least one centered element (a footer message can be nice for this)
A background image on at least one element
A different font on at least one element
A few elements styled using a class
A different color for visited links
An element styled with an ID
*/